<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
               

                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/login/">Se Connecter</a>
                  </li>

                {% if is_granted('ROLE_ADMIN') %}

                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/user/">Utilisateur</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/livre/">Livres</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/auteur/">Auteurs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/genre/">Genres</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/emprunteur/">Emprunteurs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/emprunt/">Emprunts</a>
                </li>
                  
                {% endif %}

            </ul>
            </div>
          </nav>
        {% block body %}{% endblock %}
    </body>
</html>
